<section class="container pt-4">
  <%= form_for @slide, url: portfolio_update_slide_path(@portfolio.id, @slide.order), method: :patch do |f| %>
      <div class="form-group">
        <%= f.label :content, class: 'sr-only' %>
        <%= f.markdown :content %>
      </div>
      <div class="d-flex justify-content-center">
        <%= f.submit '수정', class: 'btn btn-primary' %>
      </div>
  <% end %>
  <%= link_to '이전', portfolios_path, class: 'btn btn-primary link-btn prev-btn' %>
</section>